ion-content {
  ion-card {
    background-color: white;
    text-align: center;
    ion-card-content {
      ion-icon {
        margin-top: 15px;
        color: #557f5f;
        font-size: 80px;
      }
      h3 {
        font-size: 20px;
        margin-top: 15px;
      }
      h4 {
        font-size: 12px;
      }
      ion-button {
        margin-top: 15px;
      }
    }
  }
}
