app-product {
  width: 100%;
}
.swiper-slide {
  width: 40%;
}
ion-slides {
  ion-slide {
    &:last-child {
      height: auto;
    }
  }
}
ion-segment {
  ion-segment-button {
    font-size: 0.75rem;
  }
}
ion-fab {
  position: fixed;
  ion-fab-button {
    --background: var(--ion-color-primary);
  }
}
ion-grid{
  ion-row{
      margin-right: 10px;
  }
}