ion-content {
  .swiper-slide {
    width: 40%;
  }
  // if data load
  ion-segment {
    ion-segment-button {
      font-size: 11.3px;
    }
  }
  ion-slides {
    ion-slide {
      &:last-child {
        height: auto;
      }
    }
  }
  app-product {
    width: 100%;
  }
  .row-segment {
    margin-right: 10px;
  }
  ion-grid {
    ion-row {
      margin-right: 10px;
    }
  }
}
