<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
      {{'Account'| translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="share()" *ngIf="showOption('sharePage')">
        <ion-icon name="share"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="rateUs()" *ngIf="showOption('ratePage')">
        <ion-icon slot="icon-only" name="star-half"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="setting-page">

  <ion-grid class="ion-padding">

    <ion-row *ngIf="shared.customerData.customers_id==null" (click)="openLoginPage()">
      <ion-avatar>
        <img src="assets/avatar.png">
      </ion-avatar>
      <ion-col size="12" class="ion-no-padding primary-contrat-color" >
        <h2>{{ 'Login & Register' | translate }}</h2>
        <p>{{ 'Please login or create an account for free' | translate }}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="shared.customerData.customers_id!=null">
      <ion-avatar>
        <ion-fab-button id="nametxt">{{getNameFirstLetter()}}</ion-fab-button>
      </ion-avatar>
      <ion-col size="12" class="ion-no-padding primary-contrat-color">
        <h2>{{shared.customerData.customers_firstname +"&nbsp;"+shared.customerData.customers_lastname}}</h2>
        <p>{{shared.customerData.email}}</p>
        <ion-button (click)="openAccountPage()">{{'Edit Profile' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <span class="opacity-background"></span>
  </ion-grid>
  <ion-list class="ion-padding">

    <ion-item lines="full">
      <ion-icon slot="start" name="notifications"></ion-icon>
      <ion-label>
        <p>{{"Turn on/off Notifications"|translate}}</p>
      </ion-label>
      <ion-toggle [(ngModel)]="setting.notification" (ionChange)="onOffPushNotification()">
      </ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        <p>{{"Dark Mode"|translate}}</p>
      </ion-label>
      <ion-toggle [(ngModel)]="setting.darkMode" (ionChange)="changeDarkMode()">
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list class="ion-padding">
    <ion-item lines="full" (click)="showModal('language')">
      <ion-label>
        <p>{{"Change Language"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="globe"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openCurrencyPage()">
      <ion-label>
        <p>{{"Select Currency"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="logo-usd"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('wish-list')" *ngIf="showOption('wishListPage')">
      <ion-label>
        <p>{{"My Wish List"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="heart"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('my-account')" *ngIf="showOption('editPage')">
      <ion-label>
        <p>{{"Edit Profile"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('addresses')" *ngIf="showOption('address')">
      <ion-label>
        <p>{{"Address"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="locate"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('my-orders')" *ngIf="showOption('myOrdersPage')">
      <ion-label>
        <p>{{"My Orders"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="cart"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('contact-us')" *ngIf="showOption('contactPage')">
      <ion-label>
        <p>{{"Contact Us"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="openPage('about-us')" *ngIf="showOption('aboutUsPage')">
      <ion-label>
        <p>{{"About Us"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="information-circle"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <!-- <ion-item lines="full" (click)="openSite()">
      <ion-label>
        <p>{{"Official Website"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('privacyPolicy')">
      <ion-label>
        <p>{{"Privacy Policy"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('refundPolicy')">
      <ion-label>
        <p>{{"Refund Policy"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="showModal('termServices')">
      <ion-label>
        <p>{{"Term and Services"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="arrow-forward"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item> -->
    <!-- <ion-item lines="full" (click)="rateUs()" *ngIf="showOption('ratePage')">
      <ion-label>
        <p>{{"Rate Us"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="star-half"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item lines="full" (click)="share()" *ngIf="showOption('sharePage')">
      <ion-label>
        <p>{{"Share"|translate}}</p>
      </ion-label>
      <ion-icon slot="start" name="share"></ion-icon>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item> -->
  </ion-list>
</ion-content>

<ion-footer *ngIf="shared.customerData.customers_id!=null">
  <ion-button expand="full" color="secondary" (click)="logOut()">{{'Log Out' | translate }}</ion-button>
</ion-footer>
